* {
	margin-top: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

#root {
	width: 80%;
	min-height: 100vh;
	margin: 0 auto;
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-top: none;
	border-bottom: none;
	background-color: #ffffff;
}

body {
	background-color: #f5fffd;
}

/**
** Container
**/
.container {
	width: 100%;
	height: 100%;
	padding: 0 20px;
}

/**
** Navigation
**/

.nav {
	list-style: none;
	margin: 0 -20px;
	padding: 0 20px;
	background-color: #b9faf1;
	box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.2);
}

.nav-items {
	display: inline-block;
}

.nav-links {
	display: inline-block;
	padding: 5px 10px;
	text-decoration: none;
	color: #01574b;
}

code {
	background-color: rgb(75, 75, 75);
	color: #f3f3f3;
	display: inline-block;
	padding: 0 0.3rem;
	border-radius: 2px;
	
	
}

.content {
	padding-top: 1px;
}


.verticle-center-content {
	display: flex;
	flex-flow: nowrap column;
	align-items: center;
	justify-content: center;
}