
:root {
  --teal-50: #E0F2F1;
  --teal-100: #B2DFDB;
  --teal-200: #80CBC4;
  --teal-300: #4DB6AC;
  --teal-400: #26A69A;
  --teal-500: #009688;
  --teal-600: #00897B;
  --teal-700: #00796B;
  --teal-800: #00695C;
  --teal-900: #004D40;
  --dOrange-50: #FBE9E7;
  --dOrange-100: #FFCCBC;
  --dOrange-200: #FFAB91;
  --dOrange-300: #FF8A65;
  --dOrange-400: #FF7043;
  --dOrange-500: #FF5722;
  --dOrange-600: #F4511E;
  --dOrange-700: #E64A19;
  --dOrange-800: #D84315;
  --dOrange-900: #BF360C;
  --blue-grey-50: #ECEFF1;
  --blue-grey-900: #263238;
  --grid-sidebar-size: 15rem;
  --grid-nav-size: 2.5rem;
  --container-internal-padding: 0.5rem 0.8rem;
}
#root {
  width: 100%;
}

.container {
  padding: 0;
}
.main-content {
  display: grid;
  grid-template-columns: var(--grid-sidebar-size) repeat(2, 1fr);
  grid-template-rows: auto auto var(--grid-nav-size);
  min-height: 100vh;

  grid-template-areas: 
    "sidebar maincontent maincontent"
    "sidebar maincontent maincontent"
    "footer footer footer"
  ;
  
}

/**
** 
** Sidebar
** 
**/

.sidebar{
  grid-area: sidebar;
  background-color: var(--teal-500);
  color:var(--blue-grey-50);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr;
  grid-template-areas: 
  "sHeader"
  "sContent"
  ;
}

.sidebar-header {
  background-color: var(--teal-300);
  grid-area: sHeader;
}

.sidebar-header__title,
.sidebar-header__content{
  padding: var(--container-internal-padding);
}


.sidebar-header__title {
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  border-left: 8px solid var(--teal-900);
  background-color: var(--teal-700);
  height: var(--grid-nav-size);
}

.sidebar-header__content{
  color: var(--blue-grey-900);
  height: 100%;
}

.sidebar-header__title p {
  margin: 0;
}


/*
** Sidebar Section
*/

.sidebar-content{
  border-bottom: 4px solid var(--teal-900);
  grid-area: sContent;
}

.s-nav__item,
.s-nav.s-nav,
.s-nav--link {
  margin: 0;
  padding: 0;
}

.s-nav {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
}

.s-nav__item {
  border-bottom: 1px solid var(--teal-900);
}

.s-nav__item:first-child {
  border-top: 1px solid var(--teal-900);
}

.s-nav--link {
  padding: 2px 2rem;
  display: inline-block;
  text-decoration: none;
  color: var(--blue-grey-50);
  padding: var(--container-internal-padding);
  width: 100%;
  background-color: var(--teal-600);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  min-height: var(--grid-nav-size);
  transition: all 0.3s ease-in-out;
  color:var(--teal-100);
}

.s-nav--link:focus, 
.s-nav--link:hover {
  color:var(--blue-grey-50);
  border-left-color: var(--teal-100);
  background-color: var(--teal-800);
}

.s-nav--active {
  color:var(--blue-grey-50);
  border-left-color: var(--teal-100);
  background-color: var(--teal-800);
}


/**
** 
** Footer
** 
**/
.footer {
  grid-area: footer;
  background-color: var(--teal-900);
  color: var(--blue-grey-50);
  display: grid;
  grid-template-columns: var(--grid-sidebar-size) auto;
  grid-template-rows: var(--grid-nav-size);
}

.footer p {
  margin: 0;
}
.footer .footer-content {
  padding: var(--container-internal-padding);
  background-color: var(--teal-700);
}

.footer .footer-copyright-info {
  padding: var(--container-internal-padding);
  text-align: center;
  color: var(--teal-100);
}


/**
** 
** Content
** 
**/

.content-container {
  grid-area: maincontent;
  display: grid;
  grid-template-rows: var(--grid-nav-size) 1fr;
  grid-template-columns: 1fr;

  grid-template-areas: 
  "ccHeader"
  "ccContent";
}
.content-container__header,
.content-container__main{
  padding: var(--container-internal-padding);
}

.content-container__header {
  grid-area: ccHeader;
  background-color: var(--teal-900);
  color: var(--blue-grey-50);
}
.content-container__main {
  grid-area: ccContent;
}